a {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: Roboto, sans-serif;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -30px;
}

.grid__items {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}

@media screen and (max-width: 1199px) {
  .grid__items:first-child .gallery__border {
    padding-bottom: 56px;
  }
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .section {
    min-width: 320px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 100vw;
    min-width: 320px;
  }
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  padding-top: 25px;
  padding-bottom: 24px;
}

.logo__text--black {
  color: #000000;
}

.logo__text--white {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .logo--footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.button {
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px;
}

.button:focus, .button:hover {
  background-color: #188ce8;
}

.button2 {
  background-color: #f5f4fa;
  color: #212121;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
}

.button2:focus, .button2:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.current-button2 {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .portfolio__list {
    margin-bottom: 35px;
    justify-content: start;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .portfolio__item {
    margin-bottom: 15px;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #afb1b8;
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social-list__icon {
  width: 20px;
  height: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1) rotate(0deg);
  opacity: 1;
  transition-property: opacity, visibility, transform;
  transition-delay: 250ms, 250ms, 250ms;
  transition-duration: 250ms, 250ms, 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transform: scale(0) rotate(180deg);
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (max-width: 767px) {
  .modal {
    max-width: 100%;
    min-width: 320px;
  }
}

.modal__off {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  transition-property: box-shadow, color;
}

.modal__off:hover, .modal__off:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: #2196f3;
}

.modal__icon-off {
  position: relative;
  top: 1px;
  fill: currentColor;
}

.modal__text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__label {
  width: 448px;
  display: block;
  position: relative;
  cursor: pointer;
}

.modal__label:not(:first-child) {
  margin-top: 10px;
}

.modal__label:focus-within .modal__input {
  border-color: #2196f3;
}

.modal__label:focus-within .modal__input-icon {
  fill: #2196f3;
}

@media screen and (max-width: 1199px) {
  .modal__label {
    width: 100%;
  }
}

.modal__label-text {
  margin-bottom: 4px;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__input-icon {
  transition-property: fill;
  position: absolute;
  left: 12px;
  bottom: calc(40px / 2);
  transform: translateY(50%);
  fill: #212121;
}

.modal__input {
  cursor: pointer;
  transition-property: border-color;
  outline: none;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

@media screen and (max-width: 1199px) {
  .modal__input {
    height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .modal__input {
    height: 40px;
  }
}

.modal__user-comment {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
}

@media screen and (max-width: 1199px) {
  .modal__user-comment {
    width: 370px;
    height: 120px;
  }
}

@media screen and (max-width: 1199px) {
  .modal__user-comment {
    width: 100%;
    height: 120px;
  }
}

.modal__user-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__text {
  margin-left: 24px;
}

@media screen and (max-width: 1199px) {
  .checkbox__text {
    font-size: 12px;
    line-height: 1.167px;
    letter-spacing: 0.03em;
  }
}

.checkbox__link {
  color: #2196f3;
  text-decoration: underline;
}

@media screen and (max-width: 1199px) {
  .checkbox__link {
    font-size: 12px;
    line-height: 1.167px;
    letter-spacing: 0.03em;
  }
}

.checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.checkbox__label {
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.checkbox__input {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__input:checked ~ .checkbox__icon {
  content: '';
  width: 16px;
  height: 15px;
  background-image: url(../images/check2.svg);
}

.checkbox__icon {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 15px;
  background-image: url(../images/check1.svg);
  fill: currentColor;
}

.modal__button {
  margin-top: 30px;
}

.nav__link {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  position: relative;
  color: #2196f3;
}

.nav__link--current::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
}

.contacts__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
}

.contacts__link:hover, .contacts__link:focus {
  fill: #2196f3;
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .contacts__link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167px;
    letter-spacing: 0.02em;
  }
}

.nav__link,
.contacts__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header {
  border-bottom: 1px solid #ececec;
  height: 80px;
  display: flex;
  align-items: center;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}

.header__container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__list {
  margin-left: 94px;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .nav__list {
    margin-left: 88px;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

.contacts {
  margin-left: auto;
  display: flex;
}

@media screen and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:nth-child(1) a {
    padding-top: 21px;
    padding-bottom: 5px;
  }
}

@media screen and (max-width: 1199px) {
  .contacts__item:nth-child(2) a {
    padding-top: 5px;
    padding-bottom: 21px;
  }
}

@media screen and (max-width: 767px) {
  .nav,
  .contacts {
    display: none;
  }
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    padding-top: 40px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    max-width: 767px;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    width: 100vw;
    min-width: 320px;
  }
}

.address__town {
  color: #ffffff;
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
}

.address__link:focus, .address__link:hover {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .address {
    margin-top: 20px;
  }
}

.address__link,
.address__town {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: Roboto;
  font-style: normal;
  display: block;
}

.address__list {
  display: inline-flex;
  flex-direction: column;
}

@media screen and (max-width: 1199px) {
  .address__list {
    align-items: center;
  }
}

.address__item {
  margin-top: 9px;
}

@media screen and (max-width: 1199px) {
  .address__item {
    margin-top: 8px;
  }
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.145;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list__icon--footer {
  fill: #ffffff;
}

.social-list--footer {
  justify-content: start;
}

.footer__form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.145;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__input {
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}

@media screen and (max-width: 1199px) {
  .footer__label {
    margin-bottom: 20px;
    width: 450px;
  }
}

@media screen and (max-width: 480px) {
  .footer__label {
    margin-bottom: 20px;
    width: calc(100vw - 30px);
  }
}

.footer__icon {
  margin-left: 10px;
}

@media screen and (min-width: 1200px) {
  .footer__container-address,
  .footer__container-social {
    flex-basis: calc((50% - 45px) / 2);
  }
}

@media screen and (max-width: 1199px) {
  .footer__container-address,
  .footer__container-social {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .footer__container-social {
    margin-top: 60px;
  }
}

.footer__container-form {
  flex-basis: calc((100% - 30px) / 2);
}

@media screen and (max-width: 1199px) {
  .footer__container-form {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }
}

.footer__box {
  display: flex;
  align-items: baseline;
}

@media screen and (max-width: 767px) {
  .footer__box {
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__box {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .footer__box {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .footer__box {
    flex-direction: column;
    align-items: center;
  }
}

.footer__form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .footer__form {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__button {
    margin-right: 0;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero.jpg);
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero@2.jpg);
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    width: 768px;
    height: 400px;
    padding-top: 118px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-tablet.jpg);
  }
}

@media screen and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 1199px) and (min-resolution: 192dpi), screen and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-tablet@2.jpg);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    max-width: 480px;
    min-width: 320px;
    height: 400px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-phone.jpg);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background/hero-phone@2.jpg);
  }
}

@media screen and (max-width: 480px) {
  .hero {
    width: 100vw;
    min-width: 320px;
  }
}

.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

.hero__container {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .hero__container {
    width: 360px;
  }
}

@media screen and (max-width: 480px) {
  .hero__container {
    width: 320px;
  }
}

.our-features__item {
  --grid-item: 4;
  height: 251px;
}

@media screen and (max-width: 1199px) {
  .our-features__item {
    --grid-item: 2;
  }
}

@media screen and (max-width: 767px) {
  .our-features__item {
    --grid-item: 1;
    height: 226px;
  }
}

.our-features__container {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.our-features__subtitle {
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.specialization {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .specialization {
    display: none;
  }
}

.specialization__title {
  text-align: center;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

.specialization__item {
  position: relative;
}

.specialization__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translate(0 100%);
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
}

.team__title {
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199px) {
  .team__title {
    font-size: 28px;
    line-height: 1, 178;
    margin-bottom: 30px;
  }
}

.team__subtitle {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__item {
  --grid-item: 4;
}

@media screen and (max-width: 1199px) {
  .team__item {
    --grid-item: 2;
  }
}

@media screen and (max-width: 767px) {
  .team__item {
    --grid-item: 1;
  }
}

.team__container {
  padding-bottom: 23px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 1199px) {
  .team__container {
    padding-bottom: 25px;
  }
}

.team__img {
  object-fit: cover;
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .team__img {
    height: 374px;
  }
}

@media screen and (max-width: 767px) {
  .team__img {
    height: 460px;
  }
}

.regular-customers__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .regular-customers__title {
    margin-bottom: 30px;
  }
}

.regular-customers__item {
  --grid-item: 6;
  height: 90px;
}

@media screen and (max-width: 1199px) {
  .regular-customers__item {
    --grid-item: 3;
  }
}

@media screen and (max-width: 767px) {
  .regular-customers__item {
    --grid-item: 2;
  }
}

.regular-customers__link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
}

.regular-customers__link:focus, .regular-customers__link:hover {
  color: #2196f3;
  border-color: #2196f3;
}

.regular-customers__icon {
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .gallery {
    --grid-item: 3;
  }
}

@media screen and (max-width: 1199px) {
  .gallery {
    --grid-item: 2;
  }
}

@media screen and (max-width: 767px) {
  .gallery {
    --grid-item: 1;
  }
}

.gallery__subtitle {
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}

.gallery__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.gallery__border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.gallery__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  transition-property: transform;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
}

.gallery__overlay-box {
  position: relative;
  overflow: hidden;
}

.gallery__link:hover .gallery__overlay,
.gallery__link:focus .gallery__overlay {
  transform: translateY(0px);
}

.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav__link,
.contacts__link,
.button,
.social-list__link,
.regular-customers__link,
.address__link,
.gallery__overlay,
.button2,
.gallery__link,
.modal__off,
.backdrop,
.footer__button,
.modal__input,
.modal__input-icon,
.mobile-menu-button,
.mobile-menu {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link,
.contacts__link,
.address__link {
  transition-property: color;
}

.button,
.footer .social-list__link,
.footer__button {
  transition-property: background-color;
}

.regular-customers__link {
  transition-property: border-color, color;
}

.button2 {
  transition-property: box-shadow, background-color, color;
}

.gallery__link {
  transition-property: box-shadow;
}

.team .social-list__link {
  transition-property: background-color, fill;
}

.mobile-menu-button {
  transition-property: fill;
}

@media screen and (min-width: 1200px) {
  .mobile-menu-button {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .mobile-menu-button {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu-button {
    z-index: 2;
    display: inline-flex;
    fill: #212121;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
  }
  .mobile-menu-button:focus, .mobile-menu-button:hover {
    fill: #2196f3;
  }
  .mobile-menu-button .mobile-menu-button__icon-cross {
    display: none;
  }
}

.mobile-menu-button.is-open .mobile-menu-button__icon-cross {
  display: block;
}

.mobile-menu-button.is-open .mobile-menu-button__icon-menu {
  display: none;
}

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .mobile-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    overflow-y: scroll;
    padding-top: 16px;
    padding-left: 40px;
    padding-bottom: 48px;
    min-width: 320px;
    transform: translateY(-100%);
    transition-property: transform;
  }
  .mobile-menu.is-open {
    transform: translateY(0);
  }
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__link.current {
  color: #2196f3;
}

.mobile-menu__item {
  margin-top: 32px;
}

.mobile-menu__tel {
  margin-top: auto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1, 175;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mobile-menu__mail {
  margin-top: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}

.mobile-menu__social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
/*# sourceMappingURL=main.css.map */