.button2 {
  background-color: $second-bg-color;
  color: $primari-title-color;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  border: 0px;
  border-radius: 4px;
  &:focus,
  &:hover {
    background-color: $accent-color;
    color: $primery-bg-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.current-button2 {
  background-color: $accent-color;
  color: $primery-bg-color;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio__list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.portfolio__list {
  @include tablet {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }
}
.portfolio__list {
  @include desktop {
    margin-bottom: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.portfolio__item:not(:last-child) {
  margin-right: 8px;
}

.portfolio__item {
  margin-bottom: 15px;
}

.portfolio__item {
  @include tablet {
    margin-bottom: 0px;
  }
}
