.footer {
  padding-top: 40px;
  padding-bottom: 60px;
  max-width: 767px;
  background-color: $third-bg-color;
}

.footer {
  @include tablet {
    max-width: 1200px;
  }
}
.footer {
  @include desktop {
    max-width: 1600px;
    padding-top: 60px;
  }
}

.footer {
  @include mini {
    min-width: 320px;
  }
}

.address__town {
  color: $primery-bg-color;
}

.address__link {
  color: $addres-second-color;
  &:focus,
  &:hover {
    color: $accent-color;
  }
}

.address__link,
.address__town {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-family: $main-font;
  font-style: normal;
  display: block;
}
.address__list {
  display: inline-flex;
  flex-direction: column;
}
.address__list {
  @include tablet {
    align-items: center;
  }
}
.address__item {
  margin-top: 9px;
}
.address__item {
  @include tablet {
    margin-top: 8px;
  }
}
.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.145;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primery-bg-color;
  margin-bottom: 20px;
}
.social-list__link {
  background-color: rgba(255, 255, 255, 0.1);
}
.social-list__icon--footer {
  fill: $primery-bg-color;
}

.social-list--footer {
  justify-content: start;
}

.footer__form-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.145;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primery-bg-color;
}
.footer__input {
  cursor: pointer;
  background-color: transparent;
  border-width: 0;
  color: $addres-second-color;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer__input::placeholder {
  color: $addres-second-color;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.footer__label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}
.footer__label {
  @include tablet {
    margin-bottom: 20px;
    width: 450px;
  }
}
.footer__label {
  @include mini {
    margin-bottom: 20px;
    width: calc(100vw - 30px);
  }
}

.footer__icon {
  margin-left: 10px;
}
.footer__container-social {
  @include phone {
    margin-top: 60px;
  }
}
.footer__container-address,
.footer__container-social {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__container-address,
.footer__container-social {
  @include desktop {
    flex-basis: calc((50% - 45px) / 2);
  }
}

.footer__container-social {
  @include phone {
    margin-top: 60px;
  }
}
.footer__container-form {
  flex-basis: calc((100% - 30px) / 2);
}
.footer__container-form {
  @include tablet {
    flex-basis: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }
}
.footer__box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.footer__box {
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
.footer__box {
  @include desktop {
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.footer__form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer__form {
  @include desktop {
    justify-content: space-between;
  }
}
.footer__form {
  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}
.footer__button {
  @include desktop {
    margin-right: 0;
  }
}
