.gallery {
  @include desktop {
    --grid-item: 3;
  }
  @include tablet {
    --grid-item: 2;
  }
  @include phone {
    --grid-item: 1;
  }
}
.gallery__subtitle {
  color: $primari-title-color;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding-bottom: 4px;
}
.gallery__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: $primary-text-color;
}
.gallery__border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.gallery__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: translateY(100%);
  transition-property: transform;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primery-bg-color;
  background-color: $overlay-color;
}

.gallery__overlay-box {
  position: relative;
  overflow: hidden;
}
.gallery__link:hover .gallery__overlay,
.gallery__link:focus .gallery__overlay {
  transform: translateY(0px);
}
.gallery__link:hover,
.gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  display: block;
}
.portfolio {
  @include phone {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
