.hero {
  background-size: cover;
  padding-bottom: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
}
.hero {
  @include phone {
    max-width: 768px;
    height: 400px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-background/hero-phone.jpg);
  }
}
.hero {
  @include phone {
    @include retina2 {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-background/hero-phone@2.jpg);
    }
  }
}
.hero {
  @include tablet {
    max-width: 1200px;
    height: 400px;

    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-background/hero-tablet.jpg);
  }
}
.hero {
  @include tablet {
    @include retina2 {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-background/hero-tablet@2.jpg);
    }
  }
}
.hero {
  @include desktop {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-background/hero.jpg);
    width: 100%;
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
  }
}
.hero {
  @include desktop {
    @include retina2 {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-background/hero@2.jpg);
    }
  }
}

.hero__title {
  font-size: 26px;
  line-height: 1.62;
  color: $primery-bg-color;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__title {
  @include desktop {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__container {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.hero__container {
  @include desktop {
    max-width: 696px;
  }
}
