.mobile-menu-button {
  @include desktop {
    display: none;
  }
}
.mobile-menu-button {
  @include tablet {
    display: none;
  }
}
.mobile-menu-button {
  @include phone {
    z-index: 2;
    display: inline-flex;
    fill: $primari-title-color;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    &:focus,
    &:hover {
      fill: $accent-color;
    }
    & .mobile-menu-button__icon-cross {
      display: none;
    }
  }
}
.mobile-menu-button.is-open {
  & .mobile-menu-button__icon-cross {
    display: block;
  }
  & .mobile-menu-button__icon-menu {
    display: none;
  }
}
.mobile-menu {
  @include desktop {
    display: none;
  }
}
.mobile-menu {
  @include tablet {
    display: none;
  }
}
.mobile-menu {
  @include phone {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $primery-bg-color;
    overflow-y: scroll;
    padding-top: 16px;
    padding-left: 40px;
    padding-bottom: 48px;
    min-width: 320px;
    transform: translateY(-100%);
    transition-property: transform;
    &.is-open {
      transform: translateY(0);
    }
  }
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: $primari-title-color;
  &.current {
    color: $accent-color;
  }
}
.mobile-menu__item {
  margin-top: 32px;
}
.mobile-menu__tel {
  margin-top: auto;
  font-weight: 500;
  font-size: 34px;
  line-height: 1, 175;
  letter-spacing: 0.02em;
  color: $accent-color;
}
.mobile-menu__mail {
  margin-top: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $primary-text-color;
}
.mobile-menu__social-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
}
.mobile-menu__social-item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
