.team {
  background-color: $second-bg-color;
}
.team__title {
  color: $primari-title-color;
  text-align: center;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: 1, 178;
  margin-bottom: 30px;
}
.team__title {
  @include desktop {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.team__subtitle {
  color: $primari-title-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team__text {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}
.team__item {
  --grid-item: 1;
}
.team__item {
  @include tablet {
    --grid-item: 2;
  }
}
.team__item {
  @include desktop {
    --grid-item: 4;
  }
}
.team__container {
  padding-bottom: 25px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: $primery-bg-color;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__container {
  @include desktop {
    padding-bottom: 23px;
  }
}
