a {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
body {
  font-family: $main-font, sans-serif;
  color: $primary-text-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -30px;
}
.grid__items {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}
.grid__items:first-child .gallery__border {
  @include tablet {
    padding-bottom: 56px;
  }
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
}
.section {
  @include tablet {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container {
  @include phone {
    width: 480px;
  }
}

.container {
  @include tablet {
    width: 768px;
  }
}
.container {
  @include desktop {
    width: 1200px;
  }
}
.container {
  @include mini {
    width: 100vw;
  }
}
