@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mini {
  @media screen and (max-width: 320px) {
    @content;
  }
}
@mixin retina2 {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    @content;
  }
}
@mixin phone {
  @media screen and (max-width: 767.98px) {
    @content;
  }
}
