$primary-text-color: #757575;
$primari-title-color: #212121;
$primery-bg-color: #ffffff;
$accent-color: #2196f3;
$second-bg-color: #f5f4fa;
$third-bg-color: #2f303a;
$addres-second-color: rgba(255, 255, 255, 0.6);
$second-logo-color: #000000;
$icon-color: #afb1b8;
$grid-item: 3;
$overlay-color: rgba(33, 150, 243, 0.9);
$time-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$input-heigth: 40px;
$logo-font: Raleway;
$main-font: Roboto;
